@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}

.a_index{
    background-color: white;
    /* ele muda a opacidade do a */
    opacity: 0.5;
}
a{
    color: black;
    text-decoration:dashed;
    padding:5px;
    background-color: #8679a5;
    border-radius: 20px;
}
a:hover{
    background-color: #a797ce;
}

nav{
    padding: 10px;
}
.nav_musicas{
    background-color: green;
    
}
.nav_livros{
    background-color: #211e37;
    
}
.nav_filmes{
    background-color: rgb(117, 33, 33);
}




header{
    font-family: "Pacifico", cursive;
    font-size: 25px;
    background-color: #8679a5;
    padding: 10px;
}
main{
    padding: 5px;
    
}
.inicio-html{
    
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
  }
  .body-inicio{
    color: white;
    background-size: cover;
    background-image: url(imagens/milad-fakurian-nY14Fs8pxT8-unsplash.jpg) 
  }
  li{
    color: rgb(70, 48, 196);
    font-size: px;
    
  }
  .parallax_biblioteca{
    background-image: url(imagens/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg);
    /* */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .header_musica{
    background-color: rgb(30, 215, 96);
    color: rgb(25 20 20);
  }
  .header_filmes{
    background-color: rgb(229, 9, 20);
    color: white;
  }
