@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');

/*geral--------------------*/
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}
header{
    font-family: "Pacifico", cursive;
    font-size: 25px;
    background-color: #D9D9D9;
    padding: 30px;
}
ol{
  padding: 0;
}


a{
    color: rgb(0, 0, 0);
    text-decoration:none;
    padding:5px;
    background-color: #dad6d6;
    border-radius: 14px;
}
a:hover{
  background-color: black;
  color: #ffffff;
}

nav{
    padding: 10px;
    background: rgb(40,40,40);
  background: linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(89,89,89,1) 57%, rgba(157,157,157,1) 100%);
}
  
.container {
  text-align: center;
}

/*--------------------------------------*/

/*index--------------------------------*/
.nome_index{
  font-size: 50px;
}
.a_index{
  font-size: 40px;
  border-radius: 50px;
  opacity: 0.6;
  
}
.a_index:hover{

}
.body-inicio{
color: white;
width: 100%;
background-size: cover;
background-image: url(imagens/teste.jpg) 
}
.inicio-html{
  
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------------------------*/

/*Spoty---------------------------------*/

.ranking{
  font-size: 200%;
  
}
.musica_table tr{
  font-size: 20px;
}
.main_musica{
  width: 100%;
}
.main_musica table{
  
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.img_musica{
  width: 95%;
}

.img_spotify{
  width: 45%;
  
}



.musica_table a:hover{
  background-color: transparent;
}
.nav_musicas{
  background: rgb(30,215,96);
background: linear-gradient(90deg, rgba(30,215,96,1) 0%, rgba(10,68,21,1) 50%, rgba(30,215,96,1) 100%);   
}
.header_musica{
  background-color: #1ed760;
  color: rgb(25 20 20);
}

.play_div{
  margin-top: 30px;
  margin-left: 40px;
  text-align: start;
}
.play{
  
  background-color: rgb(30,215,96);
  font-size: 40px;
}
.play:hover{
  background-color: rgb(28, 145, 69);
  
}


/*--------------------------------------*/


/*Livros---------------------------------*/



  .nav_livros{
    background-color: #211e37; 
}
  .main_livro{
    padding: 4%;
  }
  .all_livro{
    padding: 1%;
    display: flex;
    border-radius: 10px;
    background-color: rgb(231, 226, 226);
    
  }
  .container_img_livro{
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .img_livro{
    width: 200px;
  }
  .container_info_livro{
    position: relative;
    padding: 10px;
  }
  .header_info_livro li{
    list-style: number inside;
  }
  .main_info_livro{
    padding-top: 10px;
    padding-bottom: 40px;
  }
  
  .footer_info_livro a{
    margin: 10px;
    color: white;
    background-color: rgb(40,40,40);
    border-bottom: 0px;
  }
  .footer_info_livro{
    
    position: absolute; 
        bottom: 10px;
        width: 100%;
        
        text-align: center;
    
  }
  .footer_info_livro a:hover{
    color: white;
    background-color: rgb(105, 105, 105);
  }
  .footer_info_livro{
    margin-bottom: 5px;
    
  }

  /*--------------------------------------*/


  /*Eu---------------------------------*/

  .img_gabriel{
    width: 45%;
    max-width: 20%;
  }
 
  .body_eu{
    overflow-y: hidden;
    width: 100%;
  }
  .main_eu{
    display: flex;
    width: 100%;
  }
  .txt_eu{
   font-size: 150%;
  }
 
  .container_texto_eu{
    width: 100%;
  }
 
  


  /*--------------------------------------*/



  /*Séries---------------------------------*/
  .main_serie{
    padding: 4%;
    
  }
  .header_filmes{
  background-color: rgb(229, 9, 20);
  color: white;
  }
  .nav_series{
    background-color: rgb(117, 33, 33);
}
 
  .all_serie{
    padding: 1%;
    display: flex;
    border-radius: 10px;
    background-color: rgb(231, 226, 226);
  }
  .space_all{
    padding: 1%;
  }
  .container_trailer_serie{
   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trailer_serie{
    
    margin-right: 20px;
    border-radius: 20px;
    
  }
  .info_serie{
    padding: 10px;
    font-size: 100%;
  }
  .titulo_serie{
    align-items: center;
    width: 100%;
  }
  .titulo_serie li{
    list-style: number inside;
  }
  .sobre_serie{

  }

  /*--------------------------------------*/

  /*Não vou mexer*/
  .space{
    width: 40%;
  }
  

  